<div class="main">
  <canvas baseChart
          [type]="'pie'"
          [datasets]="pieChartDatasets"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
  </canvas>
  <canvas baseChart
          [type]="'pie'"
          [datasets]="pieChartDatasetsValid"
          [labels]="pieChartLabelsValid"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
  </canvas>

  <mvf-bar-chart></mvf-bar-chart>

</div>


