body {
  margin: 0;
  padding: 0;
}

.main {

  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 5fr;
}

.config {
  /*border: orange 2px solid;*/
  grid-template-columns: auto;
}

.show-preview {
  /*border: red 2px solid;*/
  grid-template-columns: auto;
}

.file-chooser {
  margin: 6rem auto 3rem auto;

}
.event-desc {
  margin: 3rem auto;
}
.export-btn-div {
  margin-top: 6rem ;
  display: flex;
  justify-content: center;
}


.company-img {
  border: orange 2px solid;
  margin: 8rem auto 2rem auto;
}
