.control-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.control-container mvf-event-dropdown {
  margin-right: auto;
}

.control-container button {
  margin-left: auto;
}
.modal-body {
  display: grid;
  grid-template-columns: auto;
}
.outer {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr;
  margin-bottom: 0.3rem;
}
.box1 {
  /*border: 2px solid red;*/
  display: flex;
  align-items: center;
  margin: auto;
}
.box2 {
  /*border: 2px solid orange;*/

}
.box3 {
  /*border: 2px solid blue;*/
}
.price-input {
  width: 100%;
  height: 100%;
}
.event-dropdown {
  margin: 2rem auto 0.2rem auto;
}
