.camera {
  height: 90vh;
  margin: auto;

}
.modal-body {
  display: grid;
  grid-auto-columns: auto;
}
.options {
  /*border: orange 2px solid;*/
  display: flex;
  justify-content: center;
}
.options button {
  width: 50%;
}
.button-box {
  display: flex;
  justify-content: space-around;

}
.buttons {
  width: 45vw;
}
